@import '../../components/Hero/Hero.scss';
  .back-link {
    position: fixed;
    top: 30px;
    left: 60px;
  
    @media screen and (max-width: 992px) {
      position: relative;
      top: 0;
      left: 0;
    }
  }
  .title-break {
    display: block;
    margin-top: 20px;
  }
  
  .headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    
    @media screen and (max-width: 992px) {
      width: 80px;
      height: 80px;
    }
  }
