.page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.page-transition {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.page-transition.page-enter-active {
  opacity: 1;
  filter: blur(0);
  transition:
    opacity 1s ease 0.5s,
    filter 1s ease 0.5s;
}

.page-transition.page-enter-from {
  opacity: 0;
  filter: blur(1px);
}

.page-transition.page-leave-active {
  opacity: 0;
  filter: blur(1px);
  transition:
    opacity 1s ease,
    filter 1s ease;
}