.scroll-hint {
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  bottom: 100px;
  right: 20px;
  z-index: 1;
  max-width: calc(100vw - 60px);
  width: 300px;
  justify-content: flex-end;
  align-items: flex-end;
  
  
  @media (max-width: 1200px) {
    left: 30px;
    bottom: 80px;
    justify-content: flex-start;
  }
  
  
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: white;
    display: block;
    animation: loopingBorder 3s linear infinite;
    transform-origin: 0 center;
  }
  
  span {
    color: #F2F2F2;
    font-weight: 600;
    margin-right: 10px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
    animation: animateContentIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    @media (max-width: 768px) {
      
    }
  }
}
  
  @keyframes animateContentIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes loopingBorder {
    0% {
      transform: translateX(0) scaleX(0);
      
    }
    40% {
      transform: translateX(150px) scaleX(1);
      
    }
    80% {
      transform: translateX(300px) scaleX(0);
      transform-origin: 20% center;
    }
    100% {
      width: 0;
      transform: translateX(300px) scaleX(0);
      
    }
  }
  
 